In [ ]:
Introduction to list Data type

In [1]:
student =['simran','tasleem','nihar','ravi','kumar','abdul']
print (student)

['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul']

In [2]:
# how to verify the datatype

In [3]:
type (tudent)

NameError: name 'tudent' is not defined

In [4]:
type (student)

list

In [ ]:
Introduction to Indexing:- 0,1,2.........n

In [ ]:
# how to access the elements from the list ?

In [ ]:
# i want to access ravi's name from the above list ....?

In [5]:
print (student[3])

ravi

In [6]:
print (student[3].title())

Ravi

In [7]:
print (students)

NameError: name 'students' is not defined

In [8]:
print (student)

['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul']

In [ ]:
# i want to access siram name from the above list...?

In [9]:
print (student[0].title())

Simran

In [ ]:
1. How to add element to the list.

In [ ]:
2. How to modify the elements in the list.

In [ ]:
3. how to delete the elements in the list

In [ ]:
# i want to add shradha to the above list..?

In [10]:
student.append('shradha')
print (student)

['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul', 'shradha']

In [ ]:
# i want to add shiva to the above list ..?

In [11]:
student.append('shiva')
print (student)

['simran', 'tasleem', 'nihar', 'ravi', 'kumar', 'abdul', 'shradha', 'shiva']

In [ ]:
# i want to add hamed to the second position in the above list...?

In [12]:
student.insert(,'hamed')
print (student)

SyntaxError: invalid syntax (Temp/ipykernel_23028/501440617.py, line 1)

In [13]:
student.insert(2,'hamed')
print (student)

['simran', 'tasleem', 'hamed', 'nihar', 'ravi', 'kumar', 'abdul', 'shradha', 'shiva']

In [ ]:
q: What is the diff b/w append and Insert method in the list..?

In [ ]:
2. How to modify elements in the list

In [14]:
print (student)

['simran', 'tasleem', 'hamed', 'nihar', 'ravi', 'kumar', 'abdul', 'shradha', 'shiva']

In [ ]:
# req i want to modify ravi name to prasad...?

In [15]:
print (student[4])

ravi

In [16]:
student [4] ='prasad'
print (student)

['simran', 'tasleem', 'hamed', 'nihar', 'prasad', 'kumar', 'abdul', 'shradha', 'shiva']

In [17]:
print (student[4])

prasad

In [ ]:
# 3 how to delete the elements in the list...?

In [18]:
print (student)

['simran', 'tasleem', 'hamed', 'nihar', 'prasad', 'kumar', 'abdul', 'shradha', 'shiva']

In [ ]:
# req i want to delete hamed name from the above list...?

In [19]:
print (student[2])

hamed

In [20]:
del student[2]

In [21]:
del student[2]
print (student)

['simran', 'tasleem', 'prasad', 'kumar', 'abdul', 'shradha', 'shiva']